CourseManager/AxelerateLibraries/UI/UITools/XML Shemas/Axelerate.UILayout.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://axelerate.com/xmlshemas/1.4/Axelerate.UILayout" xmlns="http://axelerate.com/xmlshemas/1.4/Axelerate.UILayout" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xs:element name="FORM">
		<xs:complexType>
			<xs:choice>
				<xs:group ref="FormLayout" minOccurs="0" maxOccurs="unbounded" />
				<xs:group ref="GridLayout" minOccurs="0" maxOccurs="unbounded" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:group name="MenusAndToolbars">
		<xs:choice>
			<xs:element name="CONTEXTMENU" type="CONTEXTMENU" />
			<xs:element name="MENU" type="MENU" />
			<xs:element name="TOOLBAR" type="TOOLBAR" />
		</xs:choice>
	</xs:group>
	<xs:group name="GridLayout">
		<xs:choice>
			<xs:group ref="MenusAndToolbars" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="COLLECTIONLAYOUT" type="COLLECTIONLAYOUT" />
		</xs:choice>
	</xs:group>
	<xs:group name="FormLayout">
		<xs:choice>
			<xs:group ref="MenusAndToolbars" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="LAYOUT" type="LAYOUT" />
		</xs:choice>
	</xs:group>
	<xs:group name="FilterExpressions">
		<xs:choice>
			<xs:element name="BINARYEXPRESSION" type="BINARYEXPRESSION"/>
			<xs:element name="EXPRESSION" type="EXPRESSION"/>
		</xs:choice>
	</xs:group>
	<xs:group name="CriteriaElements">
		<xs:choice>
			<xs:group ref="FilterExpressions" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ORDEREDFIELD">
				<xs:complexType>
					<xs:attribute name="FieldName" type="xs:string" use="required" />
					<xs:attribute name="Ascending" type="xs:boolean" use="required" />
				</xs:complexType>
			</xs:element>
			<xs:element name="PREFILTER">
				<xs:complexType>
					<xs:attribute name="PrefilerName" type="xs:string" use="required" />
					<xs:attribute name="PrefilterValueParam" type="xs:string" use="required" />
					<xs:attribute name="ValueType" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:complexType name="BINARYEXPRESSION">
		<xs:attribute name="DBFieldName" type="xs:string" use="required" />
		<xs:attribute name="ObjectFieldName" type="xs:string" use="required" />
		<xs:attribute name="Operator" use="required" >
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Equal"/>
					<xs:enumeration value="GraterThan"/>
					<xs:enumeration value="LessThan"/>
					<xs:enumeration value="EqualOrGraterThan"/>
					<xs:enumeration value="EqualOrLessThan"/>
					<xs:enumeration value="Like"/>
					<xs:enumeration value="In"/>
					<xs:enumeration value="Different"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Value" type="xs:string" use="required" />
		<xs:attribute name="ValueType" type="xs:string" use="optional" />
		<xs:attribute name="BLCriteriaOperator" use="required" >
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="OperatorNone"/>
					<xs:enumeration value="OperatorAnd"/>
					<xs:enumeration value="OperatorOr"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="EXPRESSION">
		<xs:sequence>
			<xs:group ref="FilterExpressions" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="BLCriteriaOperator" use="required" >
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="OperatorNone"/>
					<xs:enumeration value="OperatorAnd"/>
					<xs:enumeration value="OperatorOr"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	
	<xs:complexType name="CRITERIA">
		<xs:sequence>
			<xs:group ref="CriteriaElements" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Distinct" type="xs:boolean" use="optional" />
		<xs:attribute name="MaxRegisters" type="xs:int" use="optional" />
		<xs:attribute name="TryGet" type="xs:boolean" use="optional" />
	</xs:complexType>
	
	<xs:element name="LAYOUT">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="LayoutContent" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="CRITERIA" type="CRITERIA" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="LayoutContent">
		<xs:choice>
			<xs:element name="GROUP" type="GROUP" />
			<xs:element name="TABGROUP" type="TABGROUP" />
			<xs:element name="COMMAND" type="COMMAND" />
			<xs:element name="CONTROL" type="CONTROL" />
			
		</xs:choice>
	</xs:group>
	<xs:group name="ToolbarLayout">
		<xs:choice>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="COMMAND" type="COMMAND">
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="GROUP" type="GROUP" />
		</xs:choice>
	</xs:group>
	<xs:complexType name="CONTEXTMENU">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="MENU" type="MENU" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="TOOLBAR" type="TOOLBAR">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LAYOUT">
		<xs:sequence>
			<xs:group ref="LayoutContent" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="COLLECTIONLAYOUT">
		<xs:sequence>
			<xs:element name="BAND"  minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="CHILDBAND">
							<xs:complexType>
								<xs:attribute name="Type" use="optional" default="GRID" >
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="GRID"/>
											<xs:enumeration value="FACTLIST" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="PropertyName" type="xs:string" use="required" />
								<xs:attribute name="HeaderCssClass" type="xs:string" use="optional" />
								<xs:attribute name="ShowHeader" type="xs:boolean" use="optional" />
 								<xs:attribute name="IsCollapsed" type="xs:boolean" use="optional" />
								<xs:attribute name="Title" type="xs:string" use="optional" />
								<xs:attribute name="FactoryMethod" type="xs:string" use="optional" />
								<xs:attribute name="FactoryParameters" type="xs:string" use="optional" />
								<xs:attribute name="ClassName" type="xs:string" use="optional" />
								<xs:attribute name="LayoutName" type="xs:string" use="required" />
							</xs:complexType>
						</xs:element>
						<xs:element maxOccurs="unbounded" name="COLUMN">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="HEADER"  minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="TOOLBAR" type="TOOLBAR" minOccurs="0">
												</xs:element>
												<xs:element name="MENU" type="MENU" minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TOOLBAR" type="TOOLBAR" minOccurs="0">
									</xs:element>
									<xs:element name="MENU" type="MENU" minOccurs="0" />
								</xs:sequence>
								<xs:attribute name="Header" type="xs:string" use="optional" />
								<xs:attribute name="Width" type="xs:string" use="optional" />
								<xs:attribute name="Content" type="xs:string" use="optional" />
								<xs:attribute name="ColumnPropertyType" use="required" >
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="HTML"/>
											<xs:enumeration value="Property" />
											<xs:enumeration value="Actions" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="EditBehavior" use="optional" >
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="NoEditable"/>
											<xs:enumeration value="Editable" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="IsLink" type="xs:string" use="optional" />
								<xs:attribute name="TargetUrl" type="xs:string" use="optional" />
								<xs:attribute name="IsHidden" type="xs:boolean" use="optional" />
								<xs:attribute name="FixedColumn" type="xs:string" use="optional" />
								<xs:attribute name="EditorType" type="xs:string" use="optional" />
								<xs:attribute name="HeaderPropertyType" type="xs:string" use="optional" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="RowHeight" type="xs:string" use="optional" />
					<xs:attribute name="EditionRowHeight" type="xs:string" use="optional" />
					<xs:attribute name="EditedRowCss" type="xs:string" use="optional" />
					<xs:attribute name="EditionRow" type="xs:boolean" use="optional" />
					<xs:attribute name="EditorStyle" type="xs:string" use="optional" />
					<xs:attribute name="EditorType" use="optional" >
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="multiline"/>
								<xs:enumeration value="fieldcontrol" />
								<xs:enumeration value="custom" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					
					<xs:attribute name="BorderColor" type="xs:string" use="optional" />
					<xs:attribute name="BorderWidth" type="xs:string" use="optional" />
					<xs:attribute name="BordeStyle" type="xs:string" use="optional"/>
					<xs:attribute name="HeaderVisible" type="xs:boolean" use="optional" />
					<xs:attribute name="HeaderCssClass" type="xs:string" use="optional" />
					<xs:attribute name="HeaderStyle" type="xs:string" use="optional" />
					<xs:attribute name="Header" type="xs:string" use="optional" />
					<xs:attribute name="CellPadding" type="xs:string" use="optional" />
					<xs:attribute name="CellSpacing" type="xs:string" use="optional" />
					<xs:attribute name="SelectRow" type="xs:boolean" use="required" />
					<xs:attribute name="PageSize" type="xs:unsignedByte" use="required" />
					<xs:attribute name="AllowPaging" type="xs:boolean" use="required" />
					<xs:attribute name="GridLines" use="required" >
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="none"/>
								<xs:enumeration value="horizontal" />
								<xs:enumeration value="vertical" />
								<xs:enumeration value="both" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ScrollBars" use="optional" >
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="none" />
								<xs:enumeration value="auto"/>
								<xs:enumeration value="horizontal" />
								<xs:enumeration value="vertical" />
								<xs:enumeration value="both" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SelectedType" use="optional">
						<xs:simpleType>
							<xs:restriction  base="xs:NMTOKEN">	  
							<xs:enumeration value="NONE"/>
							<xs:enumeration value="SINGLE" />
							<xs:enumeration value="MULTIPLE" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SelectedRowCssClass" type="xs:string" use="optional" />
					<xs:attribute name="SelectedRowStyle" type="xs:string" use="optional" />
					<xs:attribute name="AlternateRowCssClass" type="xs:string" use="optional" />
					<xs:attribute name="CssClass" type="xs:string" use="required" />
					<xs:attribute name="RowCssClass" type="xs:string" use="optional" />
					<xs:attribute name="Width" type="xs:string" use="optional" />
					<xs:attribute name="Height" type="xs:string" use="optional" />
					<xs:attribute name="Style" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>
			<xs:element name="CRITERIA" type="CRITERIA" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COMMAND">
		<xs:attribute name="Text" type="xs:string" use="required" />
		<xs:attribute name="CommandArgument" type="xs:string" use="optional" />
		<xs:attribute name="Command" type="xs:string" use="required" />
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Button" />
					<xs:enumeration value="ImageButton" />
					<xs:enumeration value="LinkButton" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Target" type="xs:string"  use="optional"/>
		<xs:attribute name="RedirectTo" type="xs:string"  use="optional"/>
		<xs:attribute name="AlertMessage" type="xs:string"  use="optional"/>
		<xs:attribute name="ConfirmMessage" type="xs:string"  use="optional"/>
		<xs:attribute name="OnClientClick" type="xs:string"  use="optional"/>
		<xs:attribute name="UseImageButtonComposer" type="xs:boolean" use="optional" />
		<xs:attributeGroup ref="styleattrs" />
		<xs:attribute name="ImageUrl" type="xs:string" use="optional" />
		<xs:attribute name="MouseOutImageUrl" type="xs:string" use="optional" />
		<xs:attribute name="MouseOverImageUrl" type="xs:string" use="optional" />
		<xs:attribute name="PressedImageUrl" type="xs:string" use="optional" />
		<xs:attribute name="PostBackUrl" type="xs:string" use="optional" />
		
	</xs:complexType>
	
	<xs:complexType  name="MENUITEM">
		<xs:sequence>
			<xs:element  name="MENUITEM" type="MENUITEM" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Text" type="xs:string" use="required" />
		<xs:attribute name="Command" type="xs:string" use="optional" />
		<xs:attribute name="NavigateUrl" type="xs:string" use="optional" />
		<xs:attribute name="ImageUrl" type="xs:string" use="optional" />

	</xs:complexType>
	
	<xs:complexType name="MENU">
		<xs:sequence>
			<xs:element  name="MENUITEM" type="MENUITEM" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Orientation" type="xs:string" use="optional" />
		<xs:attribute name="MenuItemBorderColor" type="xs:string" use="optional" />
		<xs:attribute name="MenuItemBorderWidth" type="xs:string" use="optional" />
		<xs:attribute name="SubMenuImage" type="xs:string" use="optional" />
		<xs:attribute name="HoverCssClass" type="xs:string" use="optional" />
		<xs:attribute name="HoverMenuItemCss" type="xs:string" use="optional" />
		<xs:attribute name="MenuItemCss" type="xs:string" use="optional" />
		
		<xs:attributeGroup ref="styleattrs" />
	</xs:complexType>
	
	
	<xs:complexType name="GROUP">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="COLUMN">
				<xs:complexType mixed="true">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="LayoutContent" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
					<xs:attribute name="HorizontalAlign" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="right"/>
								<xs:enumeration value="left"/>
								<xs:enumeration value="middle"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attributeGroup ref="styleattrs" />
					<xs:attribute name="PorcentalWidth" type="xs:unsignedByte" use="optional" />
					<xs:attribute name="FixedWidth" type="xs:unsignedByte" use="optional" />
					
					
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="styleattrs" />
		<xs:attribute name="Label" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:complexType name="TOOLBAR">
		<xs:sequence>
			<xs:group ref="ToolbarLayout" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="styleattrs" />
	</xs:complexType>
	<xs:complexType name="CONTROL">
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FieldControl" />
					<xs:enumeration value="HtmlFieldControl" />
					<xs:enumeration value="GridControl" />
					<xs:enumeration value="GridSelectorControl" />
					<xs:enumeration value="TreeSelectorControl" />
					<xs:enumeration value="ImageControlControl" />
					<xs:enumeration value="ProgressBarControl" />
					<xs:enumeration value="BOEditorControl" />
					<xs:enumeration value="ActivityEditorControl" />
					<xs:enumeration value="MultitabbedSelectorControl" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Text" type="xs:string" use="optional" />
		<xs:attribute name="Label" type="xs:string" use="optional" />
		<xs:attribute name="LabelCss" type="xs:string" use="optional"/>
		<xs:attribute name="LabelPosition" use="optional" default="left">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left" />
					<xs:enumeration value="top" />
					<xs:enumeration value="right" />
					<xs:enumeration value="bottom" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FieldName" type="xs:string" use="optional" />
		<xs:attribute name="AsRadioButton" type="xs:boolean" use="optional" />
		<xs:attribute name="ReturnedProperty" type="xs:string" use="optional" />
		<xs:attribute name="ComponentBehavior" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SELECTOR" />
					<xs:enumeration value="READONLY" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TreeSelector" type="xs:string" use="optional" />
		<xs:attributeGroup ref="factorydefattrs" />
		<xs:attributeGroup ref="styleattrs" />
	</xs:complexType>
	<xs:complexType name="TABGROUP">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="TAB">
				<xs:complexType mixed="true">
					<xs:sequence minOccurs="0">
						<xs:group ref="LayoutContent" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
					<xs:attributeGroup ref="styleattrs" />
					<xs:attribute name="Label" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="styleattrs" />
	</xs:complexType>
	<xs:attributeGroup name="styleattrs">
		<xs:attribute name="Width" type="xs:string" use="optional" />
		<xs:attribute name="Height" type="xs:string" use="optional" />
		<xs:attribute name="Style" type="xs:string" use="optional" />
		<xs:attribute name="CssClass" type="xs:string" use="optional" />
	</xs:attributeGroup>
	<xs:attributeGroup name="factorydefattrs">
		<xs:attribute name="ClassName" type="xs:string" use="optional" />
		<xs:attribute name="FactoryMethod" type="xs:string" use="optional" />
		<xs:attribute name="FactoryParameters" type="xs:string" use="optional" />
		<xs:attribute name="LayoutName" type="xs:string" use="optional" />
	</xs:attributeGroup>
</xs:schema>