Src/SchemaCompiler/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-microsoft-com:learning-components:learning-store-schema" xmlns:sc="urn:schemas-microsoft-com:learning-components:learning-store-schema">
    <xs:element name="StoreSchema">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Enum" type="sc:EnumType">
                </xs:element>
                <xs:element name="ItemType" type="sc:ItemType">
                </xs:element>
                <xs:element name="View" type="sc:ViewType">
                    <xs:unique name="ColumnAndParameterNamesMustBeUnique">
                        <xs:selector xpath="sc:Columns/sc:Column|sc:Parameters/sc:Parameter" />
                        <xs:field xpath="@Name" />
                    </xs:unique>
                </xs:element>
                <xs:element name="Right" type="sc:RightType">
                </xs:element>
                <xs:element name="ExtendItemType" type="sc:ExtendItemType">
                </xs:element>
                <xs:element name="ExtendRight" type="sc:ExtendRightType">
                </xs:element>
                <xs:element name="ExtendView" type="sc:ExtendViewType">
                </xs:element>
                <xs:element name="SqlBefore" type="xs:string">
                </xs:element>
                <xs:element name="SqlAfter" type="xs:string">
                </xs:element>
            </xs:choice>
        </xs:complexType>
        <xs:unique name="EnumAndItemTypeAndRightAndViewNamesMustBeUnique">
            <xs:selector xpath="sc:Enum|sc:ItemType|sc:Right|sc:View|sc:ExtendView|sc:ExtendItemType|sc:ExtendRight" />
            <xs:field xpath="@Name" />
        </xs:unique>
    </xs:element>
    <xs:complexType name="EnumType">
        <xs:all>
            <xs:element name="Values">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Value">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Documentation" minOccurs="0" form="unqualified" type="sc:DocumentationType"/>
                                </xs:all>
                                <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
                                <xs:attribute name="Value" type="xs:integer" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="NamesMustBeUnique">
                    <xs:selector xpath="sc:Value" />
                    <xs:field xpath="@Name" />
                </xs:unique>
                <xs:unique name="ValuesMustBeUnique">
                    <xs:selector xpath="sc:Value" />
                    <xs:field xpath="@Value" />
                </xs:unique>
            </xs:element>
            <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
    </xs:complexType>
    <xs:complexType name="ItemType">
        <xs:all>
            <xs:element name="Properties" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Property">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Default" minOccurs="0">                                    
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:normalizedString">
                                                    <xs:attribute name="Null" type="xs:boolean" use="optional" />
                                                    <xs:attribute name="IsFunction" type="xs:boolean" use="optional" />
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0"/>
                                    <xs:element name="Constraints" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Constraint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>                                        
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="Name" type="sc:ItemTypePropertySchemaIdType" use="required" />
                                <xs:attribute name="Type" type="sc:DataType" use="required" />
                                <xs:attribute name="ReferencedItemTypeName" type="sc:SchemaIdType" use="optional" />
                                <xs:attribute name="CascadeDelete" type="xs:boolean" use="optional" />
                                <xs:attribute name="EnumName" type="sc:SchemaIdType" use="optional" />
                                <xs:attribute name="Nullable" type="xs:boolean" use="optional" />
                                <xs:attribute name="Length" type="xs:int" use="optional" />
				<xs:attribute name="RowGuid" type="xs:boolean" use="optional" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="PropertyNamesMustBeUnique">
                    <xs:selector xpath="sc:Property" />
                    <xs:field xpath="@Name" />
                </xs:unique>
            </xs:element>
            <xs:element name="GrantQueryRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="GrantUpdateRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="GrantAddRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="GrantDeleteRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
            <xs:element name="Indexes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Index" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SqlAfter" type="xs:string" minOccurs="0">
            </xs:element>
        </xs:all>
        <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
    </xs:complexType>
    <xs:complexType name="ViewType">
        <xs:all>
            <xs:element name="Columns">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Column">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
                                </xs:all>
                                <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
                                <xs:attribute name="Type" type="sc:DataType" use="required" />
                                <xs:attribute name="ReferencedItemTypeName" type="sc:SchemaIdType" use="optional" />
                                <xs:attribute name="EnumName" type="sc:SchemaIdType" use="optional" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Parameters" minOccurs="0" type="sc:ParametersType"/>
            <xs:element name="Implementation" type="xs:string" />
            <xs:element name="GrantQueryRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
    </xs:complexType>
    <xs:complexType name="RightType">
        <xs:all>
            <xs:element name="Parameters" minOccurs="0" type="sc:ParametersType">
                <xs:unique name="ParameterNamesMustBeUnique">
                    <xs:selector xpath="sc:Parameter" />
                    <xs:field xpath="@Name" />
                </xs:unique>
            </xs:element>
            <xs:element name="Grant" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
    </xs:complexType>
    <xs:complexType name="ExtendItemType">
        <xs:all>
            <xs:element name="Properties" minOccurs="0">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="Property">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Default">                                    
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:normalizedString">
                                                    <xs:attribute name="Null" type="xs:boolean" use="optional" />
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0"/>
                                    <xs:element name="Constraints" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Constraint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>                                        
                                    </xs:element>
                                </xs:all>
                                <xs:attribute name="Name" type="sc:ItemTypePropertySchemaIdType" use="required" />
                                <xs:attribute name="Type" type="sc:DataType" use="required" />
                                <xs:attribute name="ReferencedItemTypeName" type="sc:SchemaIdType" use="optional" />
                                <xs:attribute name="CascadeDelete" type="xs:boolean" use="optional" />
                                <xs:attribute name="EnumName" type="sc:SchemaIdType" use="optional" />
                                <xs:attribute name="Nullable" type="xs:boolean" use="optional" />
                                <xs:attribute name="Length" type="xs:int" use="optional" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ExtendProperty">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0"/>
                                </xs:all>
                                <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
                <xs:unique name="PropertyNamesMustBeUniqueExtended">
                    <xs:selector xpath="sc:Property|sc:ExtendProperty" />
                    <xs:field xpath="@Name" />
                </xs:unique>
            </xs:element>
            <xs:element name="GrantQueryRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="GrantUpdateRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="GrantAddRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="GrantDeleteRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
            <xs:element name="Indexes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Index" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SqlAfter" type="xs:string" minOccurs="0">
            </xs:element>
        </xs:all>
        <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
        <xs:attribute name="ReplaceIndexes" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ExtendRightType">
        <xs:all>
            <xs:element name="Parameters" minOccurs="0">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="Parameter">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
                                </xs:all>
                                <xs:attribute name="Name" type="sc:ParameterSchemaIdType" use="required" />
                                <xs:attribute name="Type" type="sc:DataType" use="required" />
                                <xs:attribute name="ReferencedItemTypeName" type="sc:SchemaIdType" use="optional" />
                                <xs:attribute name="EnumName" type="sc:SchemaIdType" use="optional" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ExtendParameter">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0"/>
                                </xs:all>
                                <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
                <xs:unique name="ParameterNamesMustBeUniqueExtended">
                    <xs:selector xpath="sc:Parameter|sc:ExtendParameter" />
                    <xs:field xpath="@Name" />
                </xs:unique>
            </xs:element>
            <xs:element name="Grant" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
    </xs:complexType>
    <xs:complexType name="ExtendViewType">
        <xs:all>
            <xs:element name="GrantQueryRight" type="sc:GrantsType" minOccurs="0"/>
            <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Name" type="sc:SchemaIdType" use="required" />
    </xs:complexType>
    <xs:simpleType name="SchemaIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]+[a-zA-Z0-9]*" />
            <xs:maxLength value="63" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ParametersType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Parameter" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Documentation" type="sc:SummaryAndRemarksDocumentationType" minOccurs="0" />
                    </xs:all>
                    <xs:attribute name="Name" type="sc:ParameterSchemaIdType" use="required" />
                    <xs:attribute name="Type" type="sc:DataType" use="required" />
                    <xs:attribute name="ReferencedItemTypeName" type="sc:SchemaIdType" use="optional" />
                    <xs:attribute name="EnumName" type="sc:SchemaIdType" use="optional" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ParameterSchemaIdType">
        <xs:restriction base="sc:SchemaIdType">
            <xs:pattern value="(?!UserKey$).*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItemTypePropertySchemaIdType">
        <xs:restriction base="sc:SchemaIdType">
            <xs:pattern value="(?!UserKey$)(?!Id$).*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ItemIdentifier" />
            <xs:enumeration value="String" />
            <xs:enumeration value="Boolean" />
            <xs:enumeration value="DateTime" />
            <xs:enumeration value="Single" />
            <xs:enumeration value="Double" />
            <xs:enumeration value="Xml" />
            <xs:enumeration value="Enum" />
            <xs:enumeration value="Int32" />
            <xs:enumeration value="ByteArray" />
            <xs:enumeration value="Guid" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GrantsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="Expression" type="xs:string" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SummaryAndRemarksDocumentationType">
        <xs:all>
            <xs:element name="Summary" minOccurs="0" form="unqualified" type="sc:DocumentationType" />
            <xs:element name="Remarks" minOccurs="0" form="unqualified" type="sc:DocumentationType" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="DocumentationType" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="skip"/> 
        </xs:sequence>
    </xs:complexType>
</xs:schema>
